name: Bundle

on:
    push:
        branches:
            - "*"
        tags:
            - "*"
    pull_request:
        branches: ["master"]

jobs:
    bundle:
        name: Build extension
        runs-on: ubuntu-latest
        steps:
            - name: Git describe
              id: ghd
              uses: proudust/gh-describe@v2
            - uses: actions/checkout@v4
            - name: Download components
              run: |
                  ./scripts/make_bundle.sh
                  cp highstakesre-bundle.zip highstakesre-bundle-${{ steps.ghd.outputs.describe }}.zip
            - name: Upload bundle
              uses: actions/upload-artifact@v4
              with:
                  name: highstakesre-bundle
                  path: highstakesre-bundle-${{ steps.ghd.outputs.describe }}.zip

    release:
        name: Publish Bundle
        needs: bundle
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Git describe
              id: ghd
              uses: proudust/gh-describe@v2
            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                  name: highstakesre-bundle
            - name: Create draft release
              env:
                  GH_TOKEN: ${{ github.token }}
                  GH_REPO: ${{ github.repository }}
              run: gh release create '${{ steps.ghd.outputs.describe }}' --draft=true --generate-notes highstakesre-bundle-*.zip
